<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beta01.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>21552B3C1B8FFC40623CCC46B500DE68FF5A0FE0</string>
				<key>dateExpires</key>
				<string>2022/8/31</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4GZR93SW4W.com.app.jianmo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4GZR93SW4W</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>4GZR93SW4W.com.app.jianmo</string>
				</array>
			</dict>
			<key>name</key>
			<string>beta01.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>68fa18c5-bc4a-4fef-9814-625d081daf90</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4GZR93SW4W</string>
				<key>name</key>
				<string>Hunan Aifeier Commerce Co ., Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
